---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Freelance, Creadora de contenido",
    company: "Profesional Independiente",
    description:
     "gestión cms: mantener sitios web utilizando sistemas de gestión de contenido como wordpress. Desarrolladora fullstack y investigadora en la arquitectura devsecops",
    link: "https://hashnode.com/@Imane24",
  },
  {
    date: "02/2023-05/2023",
    title: "Desarrolladora de Aplicaciones Web",
    company: "Real Federación Melillense de Fútbol",
    description:
      "Prácticas del grado superior de Desarrollo de aplicaciones Web, gestión cms (mantener sitios web utilizando sistemas de gestión de contenido como wordpress), desarrollador fullstack (comprensión integral de cómo funcionan las aplicaciones web completas, desde el servidor hasta el cliente)",
  },
  {
  date: "09/2020-06/2021",
    title: "Técnico Informático",
    company: "Hospital público Comarcal Melilla",
    description:
      "En mi experiencia en la institución pública, he utilizado software especializado para la administración hospitalaria, en el contexto de la gestión del software adaptado por la institución pública.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
